body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-height: 100%;
}

.reveal .progress {
    position: absolute;
    top: 0;
    left: 0;
    color: #3BA9E0;
}

.reveal .controls {
    color: #3BA9E0;
}
