blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

.reveal .slide-background-content {
  background-size: contain;
}

.reveal .slides section {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/*
This is for debugging. It lets us see what the available screen real estate is.
Remove this rule before we actually go to print.

.reveal .slides {
    border: 1px dotted red;
}
*/
