blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

.reveal .slide-background-content {
    background-size: contain;
}

.reveal .slides section {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/*
This is to style the final slide.  It's a bit gunky but it works.
I am actually kind of amazed that the background image targeting works.
*/

section#final > div.two-col a {
    padding: 0 100px;
}

section#final p.button {
    background: #4786ff;
    border-radius: 5px;
    color: white;
    padding: 4px;
}

.reveal .slide-background-content[style*='images/launch-background.png"'] {
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
}

/*
This is for debugging. It lets us see what the available screen real estate is.
Remove this rule before we actually go to print.

.reveal .slides {
    border: 1px dotted red;
}
*/
